In [2]:
import pandas as pd 
df = pd.read_excel("Pharma_PowerBI_Dataset_Expanded.xlsx")
print(df)

       InvoiceID       Date Region          State       City  \
0      INV001_X0 2024-05-10  North    West Bengal    Kolkata
1      INV002_X0 2024-06-06   West        Gujarat  Ahmedabad
2      INV003_X0 2024-06-20  South    Maharashtra     Mumbai
3      INV004_X0 2024-08-15   West    West Bengal    Kolkata
4      INV005_X0 2024-08-02   East    Maharashtra     Mumbai
...          ...        ...    ...            ...        ...
2995  INV096_X29 2024-12-16   East    Maharashtra     Mumbai
2996  INV097_X29 2025-02-27   East     Tamil Nadu    Chennai
2997  INV098_X29 2025-01-18  South      Karnataka     Mysuru
2998  INV099_X29 2025-03-09  North     Tamil Nadu    Chennai
2999  INV100_X29 2024-12-30  South  Uttar Pradesh    Lucknow

            Distributor           Hospital      DrugName  DrugCategory  \
0     MedSupply Pvt Ltd      Ruby Hospital   Paracetamol     Analgesic
1     MedSupply Pvt Ltd     Zydus Hospital  Atorvastatin       Cardiac
2     MedSupply Pvt Ltd    Fortis Hospital     Metformin  Antidiabetic
3     MedSupply Pvt Ltd      Ruby Hospital  Atorvastatin       Cardiac
4     MedSupply Pvt Ltd    Fortis Hospital  Azithromycin    Antibiotic
...                 ...                ...           ...           ...
2995  MedSupply Pvt Ltd    Fortis Hospital     Metformin  Antidiabetic
2996  MedSupply Pvt Ltd    Global Hospital   Amoxicillin    Antibiotic
2997  MedSupply Pvt Ltd  Narayana Hospital      Losartan       Cardiac
2998  MedSupply Pvt Ltd    Global Hospital       Insulin  Antidiabetic
2999  MedSupply Pvt Ltd   Medanta Hospital     Ibuprofen     Analgesic

         SalesRep  UnitsSold  UnitPrice  TotalSales PaymentType
0      Amit Verma        249       5.72     1424.28      Credit
1     Priya Mehta        379      23.31     8834.49        Cash
2      Ravi Kumar        120      13.74     1648.80        Cash
3     Priya Mehta        194      22.02     4271.88      Credit
4       Rahul Das         85      30.18     2565.30        Cash
...           ...        ...        ...         ...         ...
2995    Rahul Das        163      13.94     2272.22      Credit
2996    Rahul Das        158      21.53     3401.74        Cash
2997   Ravi Kumar        383      23.12     8854.96      Credit
2998   Amit Verma        286      50.23    14365.78        Cash
2999   Ravi Kumar        235       9.04     2124.40        Cash

[3000 rows x 14 columns]

In [18]:
df.tail()

,invoiceid,date,region,state,city,distributor,hospital,drugname,drugcategory,salesrep,unitssold,unitprice,totalsales,paymenttype
2995,INV096_X29,2024-12-16,East,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Metformin,Antidiabetic,Rahul Das,163,13.94,2272.22,Credit
2996,INV097_X29,2025-02-27,East,Tamil Nadu,Chennai,MedSupply Pvt Ltd,Global Hospital,Amoxicillin,Antibiotic,Rahul Das,158,21.53,3401.74,Cash
2997,INV098_X29,2025-01-18,South,Karnataka,Mysuru,MedSupply Pvt Ltd,Narayana Hospital,Losartan,Cardiac,Ravi Kumar,383,23.12,8854.96,Credit
2998,INV099_X29,2025-03-09,North,Tamil Nadu,Chennai,MedSupply Pvt Ltd,Global Hospital,Insulin,Antidiabetic,Amit Verma,286,50.23,14365.78,Cash
2999,INV100_X29,2024-12-30,South,Uttar Pradesh,Lucknow,MedSupply Pvt Ltd,Medanta Hospital,Ibuprofen,Analgesic,Ravi Kumar,235,9.04,2124.40,Cash

In [3]:
df.head()

,InvoiceID,Date,Region,State,City,Distributor,Hospital,DrugName,DrugCategory,SalesRep,UnitsSold,UnitPrice,TotalSales,PaymentType
0,INV001_X0,2024-05-10,North,West Bengal,Kolkata,MedSupply Pvt Ltd,Ruby Hospital,Paracetamol,Analgesic,Amit Verma,249,5.72,1424.28,Credit
1,INV002_X0,2024-06-06,West,Gujarat,Ahmedabad,MedSupply Pvt Ltd,Zydus Hospital,Atorvastatin,Cardiac,Priya Mehta,379,23.31,8834.49,Cash
2,INV003_X0,2024-06-20,South,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Metformin,Antidiabetic,Ravi Kumar,120,13.74,1648.80,Cash
3,INV004_X0,2024-08-15,West,West Bengal,Kolkata,MedSupply Pvt Ltd,Ruby Hospital,Atorvastatin,Cardiac,Priya Mehta,194,22.02,4271.88,Credit
4,INV005_X0,2024-08-02,East,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Azithromycin,Antibiotic,Rahul Das,85,30.18,2565.30,Cash

In [4]:
df.shape

(3000, 14)

In [5]:
df.columns

Index(['InvoiceID', 'Date', 'Region', 'State', 'City', 'Distributor',
       'Hospital', 'DrugName', 'DrugCategory', 'SalesRep', 'UnitsSold',
       'UnitPrice', 'TotalSales', 'PaymentType'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InvoiceID     3000 non-null   object
 1   Date          3000 non-null   datetime64[ns]
 2   Region        3000 non-null   object
 3   State         3000 non-null   object
 4   City          3000 non-null   object
 5   Distributor   3000 non-null   object
 6   Hospital      3000 non-null   object
 7   DrugName      3000 non-null   object
 8   DrugCategory  3000 non-null   object
 9   SalesRep      3000 non-null   object
 10  UnitsSold     3000 non-null   int64
 11  UnitPrice     3000 non-null   float64
 12  TotalSales    3000 non-null   float64
 13  PaymentType   3000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(10)
memory usage: 328.3+ KB

In [7]:
df.describe()

                                Date    UnitsSold    UnitPrice    TotalSales
count                           3000  3000.000000  3000.000000   3000.000000
mean   2024-09-10 00:33:36.000000256   177.636667    21.397253   3846.785473
min              2024-01-09 00:00:00    38.000000     3.800000    343.800000
25%              2024-06-27 00:00:00   112.000000    13.147500   1749.995000
50%              2024-09-05 00:00:00   170.000000    20.470000   2970.200000
75%              2024-11-26 00:00:00   232.250000    24.082500   4927.200000
max              2025-04-17 00:00:00   390.000000    55.580000  20127.900000
std                              NaN    79.283415    12.123733   3114.839897

In [8]:
df.isnull().sum()              #Data Quuality Checks

InvoiceID       0
Date            0
Region          0
State           0
City            0
Distributor     0
Hospital        0
DrugName        0
DrugCategory    0
SalesRep        0
UnitsSold       0
UnitPrice       0
TotalSales      0
PaymentType     0
dtype: int64

In [9]:
df.duplicated().sum()             #Data Quuality Checks

np.int64(0)

In [10]:
#Basic cleaning 
df.drop_duplicates()

,InvoiceID,Date,Region,State,City,Distributor,Hospital,DrugName,DrugCategory,SalesRep,UnitsSold,UnitPrice,TotalSales,PaymentType
0,INV001_X0,2024-05-10,North,West Bengal,Kolkata,MedSupply Pvt Ltd,Ruby Hospital,Paracetamol,Analgesic,Amit Verma,249,5.72,1424.28,Credit
1,INV002_X0,2024-06-06,West,Gujarat,Ahmedabad,MedSupply Pvt Ltd,Zydus Hospital,Atorvastatin,Cardiac,Priya Mehta,379,23.31,8834.49,Cash
2,INV003_X0,2024-06-20,South,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Metformin,Antidiabetic,Ravi Kumar,120,13.74,1648.80,Cash
3,INV004_X0,2024-08-15,West,West Bengal,Kolkata,MedSupply Pvt Ltd,Ruby Hospital,Atorvastatin,Cardiac,Priya Mehta,194,22.02,4271.88,Credit
4,INV005_X0,2024-08-02,East,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Azithromycin,Antibiotic,Rahul Das,85,30.18,2565.30,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,INV096_X29,2024-12-16,East,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Metformin,Antidiabetic,Rahul Das,163,13.94,2272.22,Credit
2996,INV097_X29,2025-02-27,East,Tamil Nadu,Chennai,MedSupply Pvt Ltd,Global Hospital,Amoxicillin,Antibiotic,Rahul Das,158,21.53,3401.74,Cash
2997,INV098_X29,2025-01-18,South,Karnataka,Mysuru,MedSupply Pvt Ltd,Narayana Hospital,Losartan,Cardiac,Ravi Kumar,383,23.12,8854.96,Credit
2998,INV099_X29,2025-03-09,North,Tamil Nadu,Chennai,MedSupply Pvt Ltd,Global Hospital,Insulin,Antidiabetic,Amit Verma,286,50.23,14365.78,Cash
2999,INV100_X29,2024-12-30,South,Uttar Pradesh,Lucknow,MedSupply Pvt Ltd,Medanta Hospital,Ibuprofen,Analgesic,Ravi Kumar,235,9.04,2124.40,Cash

In [11]:
##Clean column names
df.columns=df.columns.str.lower().str.replace(" ", "_")
df.head()

,invoiceid,date,region,state,city,distributor,hospital,drugname,drugcategory,salesrep,unitssold,unitprice,totalsales,paymenttype
0,INV001_X0,2024-05-10,North,West Bengal,Kolkata,MedSupply Pvt Ltd,Ruby Hospital,Paracetamol,Analgesic,Amit Verma,249,5.72,1424.28,Credit
1,INV002_X0,2024-06-06,West,Gujarat,Ahmedabad,MedSupply Pvt Ltd,Zydus Hospital,Atorvastatin,Cardiac,Priya Mehta,379,23.31,8834.49,Cash
2,INV003_X0,2024-06-20,South,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Metformin,Antidiabetic,Ravi Kumar,120,13.74,1648.80,Cash
3,INV004_X0,2024-08-15,West,West Bengal,Kolkata,MedSupply Pvt Ltd,Ruby Hospital,Atorvastatin,Cardiac,Priya Mehta,194,22.02,4271.88,Credit
4,INV005_X0,2024-08-02,East,Maharashtra,Mumbai,MedSupply Pvt Ltd,Fortis Hospital,Azithromycin,Antibiotic,Rahul Das,85,30.18,2565.30,Cash

In [17]:
import os

# Create a directory in a location where you have write permissions
# For example, use a subdirectory in your Documents folder
save_dir = os.path.join(os.path.expanduser("~"), "Documents", "pharma_sales_decision_intelligence", "data", "processed")

# Create the directory if it doesn't exist
os.makedirs(save_dir, exist_ok=True)

# Now save the file
df.to_excel(os.path.join(save_dir, "01_data_loading_and_cleaning.xlsx"), index=False)

# Print the location where the file is saved
print(f"File saved to: {os.path.join(save_dir, '01_data_loading_and_cleaning.xlsx')}")

File saved to: C:\Users\HP\Documents\pharma_sales_decision_intelligence\data\processed\01_data_loading_and_cleaning.xlsx